*{
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
}

header {
    height: 40px;
    background-color: rgb(8, 66, 94);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-weight: bold;
}

main{
    width: 400px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


p {
    margin: 10px;
    font-style: italic;
    font-size: 0.9rem;
    color: rgb(124, 124, 124);
}


#title {
    font-size: 1.8rem;
}

#sub-title {
    height: 20px;
    background-color: rgb(8, 66, 94);
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    font-style: italic;
}